{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "assets": "src/test",
          "components": "src/components",
          "models": "src/models",
          "pages": "src/pages",
          "modals": "src/modals",
          "store": "src/store"
        }
      }
    ]
  ]
}
